@import url("./_theme.css");

@font-face {
  font-family: 'Cabin';
  src: url(font/Cabin-VariableFont.ttf);
}

body {
  background-color: var(--mdc-background);
}

h1, h2, h3, h4, h5 {
  font-family: 'Cabin';
  font-weight: bold;
}

p {
  font-family: 'Cabin';
  font-weight: normal;
  color: var(--mdc-on-background);
}
