.skill-item {
  margin: 1.8em;
}

.skill-item .img-container {
  width: 85px;
  height: 85px;
  margin: auto;
  margin-bottom: 1rem;
  overflow: hidden;
  background-color: white;
}

.skill-item .title {
  font-size: larger;
  font-weight: bold;
}

.skill-item .img-container img {
  object-fit: contain;
  padding: 10px;
}