.navigation-bar {
  height: 100vh;
  position: fixed;
  background-color: var(--mdc-theme-background);
  z-index: 1030;
}

@media (max-width: 767.98px) {
  .navigation-bar {
    height: auto;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

.navigation-icon {
  text-align: center;
  flex-grow: 0;
}

.navigation-icon svg {
  width: 35px;
  height: 35px;
  margin: 22.5px;
  color: var(--mdc-theme-on-surface);
}

.navigation-icon.active svg{
  color: var(--mdc-theme-secondary);
}